:root {
  --primary-color: rgba(90, 74, 210, 1);
  --secondary-color: rgba(146, 118, 241, 1);
  --bg-color: #1f2336;
  --btn-bg-color: #313852;
  --input-bg-color: #40405647;
  --active-color: #797fff;
  --color-white: #ffffff;
  --semi-white: #b2b2b4;
  --text-color: #666d8d;
  --card-color: #25293d;
  --icon-color: #72799b;
  --border-color: #2b3046;
  --border-color2: #797d92;
  --selectItem-hover: #5a5a5ab5;
  --placeholder-color: #81828b;
}

body {
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
}

.right-navbar {
  max-width: 20%;
  background-color: var(--card-color);
}
.right-top-navbar {
  border-bottom: 1px solid var(--border-color2);
}
.right-top-section {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lng-btn {
  border: none;
  background: transparent;
  color: var(--color-white);
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 14px;
}

.lng-btn:hover {
  background-color: var(--card-color);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.user-container {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.user-container.user {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.analytics-part-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.analytics-part-icon i {
  transform: rotate(-45deg);
}
.analytics-part-icon2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--active-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.analytics-card {
  height: 98px;
}
.block-icon {
  height: 40px;
  width: 40px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.purchase-section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: end;
  /* border: 1px solid white; */
}
.purchase-card {
  width: 100%;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  position: relative;
  /* border: 1px solid red; */
}
.purchase-card-img {
  width: 200px;
  height: 166px;
  /* overflow: hidden; */
}
.purchase-card-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin-top: -55px;
  z-index: 999;
}

.purchase_now_btn {
  border: none;
  background: linear-gradient(to right, #886eec, #6553d8);
  position: absolute;
  bottom: -10px;
  box-shadow: rgb(148, 124, 245) 0px 10px 10px -10px;
}
.purchase_now_btn:hover {
  box-shadow: none;
}
.manage-btn {
  color: #6553d8;
  font-size: 18px;
}

.turnover-card {
  background-color: #5a4ad2;

  height: 205px;
  padding: 20px;
  border-radius: 16px;
}

.turnover-card p {
  margin-bottom: 0px;
}
.city-card {
  background-color: var(--card-color);
  border-radius: 16px;
  width: 100%;
}
.city-card-icon {
  background-color: var(--primary-color);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.city-card-icon i {
  color: var(--color-white);
  transform: rotate(-45deg);
}
.img-container {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  overflow: hidden;
}
.img-container img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.earning-graph-container {
  background-color: var(--card-color);
  border-radius: 16px;
  height: 100%;
}
.master-card {
  width: 70px;
  height: 50px;
  overflow: hidden;
}
.master-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#show-earning-graph {
  height: 270px;
  overflow: hidden;
}
.show_e-graph {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.carousel-container {
  height: 90%;
  background-color: var(--card-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}
.carousel-inner {
  width: 90%;
  height: 80%; 
  overflow: hidden; 
 
}
.carousel-item {
  width: 100%;
  height: 380px; 
}
.carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}
.multiple-line-chart {
  height: 375px;
  background-color: var(--card-color);
  border-radius: 16px;
  padding: 10px 20px 10px;
}
#chart-multiple-line {
  height: 100%;
}
.rangebar-container {
  height: 375px;
  background-color: var(--card-color);
  border-radius: 16px;
  padding: 20px;
}
.rangeBar-section_icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.analytics-section-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.input-field {
  background-color: var(--input-bg-color);
  border: none;
  height: 40px;
  width: 120px;
  color: var(--color-white);
  border-radius: 8px;
}
.input-field:focus {
  border: 1px solid var(--border-color);
  outline: none;
  background-color: var(--input-bg-color);
  color: #fff;
}
#method-field {
  cursor: pointer;
}

.input-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.option-group {
  background-color: #313852;
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 999;
  border-radius: 8px;
}
.option-group p {
  margin-bottom: 0px;
  padding: 5px 20px;
  color: var(--text-color);
}
.option-group p:hover:not(:first-child) {
  background-color: var(--border-color2);
  color: #fff;
  cursor: pointer;
}
.mobile-view-menu {
  position: absolute;
  top: 10px;
  left: 20px;
}

@media only screen and (max-width: 425px) {
  .navbar {
    display: none !important;
    transition: 0.5s ease-in-out;
  }
  .addNav {
    display: block !important;
    position: absolute !important;
    height: 100vh;
    top: 0;
    left: 0;
    transition: visibility 0.5s ease-in-out;
    z-index: 1000;
    background-color: #1f2336;
  }
  .carousel-container {
    height: 100%;
    padding: 16px;
  }
  #show-earning-graph {
    height: 300px;
    padding-bottom: 16px;
  }
  .tab-container{
    width: 100%;
    overflow: auto;
  }
  .tab-container ul li {
    padding: 5px 10px !important;
}

  .tab-content{
    overflow-x: auto;
    display: flex !important;
    justify-content: start !important;

  }
  
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  .carousel-container {
    height: 450px;
  }
.carousel-inner{
  width: 100%;
  height: 400px;
  overflow: hidden;
}
  .carousel-inner img {
    width: 100%;
    height: 100%; /* Set the height you want */
    object-fit: fill; /* Ensures the image covers the entire area without distortion */
  }

}
@media only screen and (min-width: 425px) and (max-width: 1024px) {
  .carousel-container {
    height: 450px;
  }
  .carousel-inner{
    width: 100%;
    height: 420px;
    overflow: hidden;
  }
    .carousel-inner img {
      width: 100%;
      height: 100%; 
      object-fit: fill; 
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .right-navbar{
    max-width:  23% !important;
  }
}

